services: 
  backend: 
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    restart: always

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    restart: unless-stopped